
/*
COLOURS
#211d1c - dark brown (for text)
#2f261d - brown
#4389a2 - teal
#c62d03 - burnt red
#da4d11 - Orange (links)
*/

/*GLOBAL SETTING
----------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Six+Caps&display=swap');

body {
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #121213;
	margin: 0;
	background-color: #dbdacd;
}

#wrapper {
	position: relative;
	width: 100%; 
	padding: 0px 0px;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 1.6em;
	font-weight: 700;
}

a {
	color: #ff5f03; /* dark teal */
	text-decoration: none;
}

a:visited {
	color: #ff5f03; /* burnt red */
}



/* HEADER
----------------------------------------
*/

header {
	color: #121213;	
	width: 100%;
}
	
header h1 {
	text-align: center;
	font-family: "Silkscreen", sans-serif;
}



/* INDEX CONTENT 1
----------------------------------------
*/
.container {
	height: 200px;
	position: relative;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.returnButton {
	background-color: #070707;
	padding: 15px 32px;
	color: #dbdacd;
	border-radius: 8px;
	font-size: 1.3em;
	cursor: pointer;
}

#colInde .one {
	width: 64px;
	height: 64px;
	padding: 10px;
	border-style: solid;
	border-color: #070707;
	border-width: 5px;
	border-radius: 50%;
	background-color: #ff5f03;
	filter:grayscale();
	margin-top: 5px;
	margin-bottom: 5px;
	justify-self: center;

}

#colInde img {
	width: 64px;
	height: 64px;
}

#colInde .onefound {
	width: 64px;
	height: 64px;
	padding: 10px;
	border-style: solid;
	border-color: #070707;
	border-width: 5px;
	border-radius: 50%;
	background-color: #ffffff;
	filter: none;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-self: center;
}




/* FOOTER
----------------------------------------
*/
footer {
	font-size: 0.8em;
	background-color: #070707;
	width: 100%;
}

footer #aoc {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 0px;
	font-size: 1.1em;
}

footer ul {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	display: flex;
	justify-content: center;
}

footer li {
	list-style: none;
	padding: 10px 20px;
}

/* MEDIA QUERIES (Mobile)
----------------------------------------
switches to head nav, removes some columns and scales elements accordingly
*/

@media (max-width: 767px) {

}